# GERANDO SESSÃO SPARK

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("IcebergExample") \
    .config("spark.jars.packages", "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1") \
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
    .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.sql.catalog.local.type", "hadoop") \
    .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
    .getOrCreate()

25/10/02 15:04:22 WARN Utils: Your hostname, DESKTOP-JLUDO09 resolves to a loopback address: 127.0.1.1; using 172.27.76.95 instead (on interface eth0)
25/10/02 15:04:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/guizap/sparkiceberg-lab/.venv/lib/python3.11/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/guizap/.ivy2/cache
The jars for the packages stored in: /home/guizap/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9c5407dc-5f29-4182-8ced-39245d963b1e;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 in central
:: resolution report :: resolve 135ms :: artifacts dl 2ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9c5407dc-5f29-4182-8ced-39245d963b1e
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/3ms)
25/10/02 15:04:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# LENDO CSV E TRATANDO OS DADOS DA COLUNA T PARA ANÁLISES

In [68]:
df = spark.read \
    .option("header", True) \
    .option("inferSchema", False) \
    .option("delimiter", ";") \
    .csv("data/sample.csv")

df = df.drop("_c15", "_c16")
df.printSchema()
df.show(5)

root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- CO(GT): string (nullable = true)
 |-- PT08.S1(CO): string (nullable = true)
 |-- NMHC(GT): string (nullable = true)
 |-- C6H6(GT): string (nullable = true)
 |-- PT08.S2(NMHC): string (nullable = true)
 |-- NOx(GT): string (nullable = true)
 |-- PT08.S3(NOx): string (nullable = true)
 |-- NO2(GT): string (nullable = true)
 |-- PT08.S4(NO2): string (nullable = true)
 |-- PT08.S5(O3): string (nullable = true)
 |-- T: string (nullable = true)
 |-- RH: string (nullable = true)
 |-- AH: string (nullable = true)

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T|  RH|    AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|10/03/2004|18.00.00|   2,6|       1360|     150|    11,9|         1046|    166|        1056|    113|        1692|       1268|13,6|48,9|0,7578|
|10/03/2004|19.00.00|     2|       1292|     112|     9,4|          955|    103|        1174|     92|        1559|        972|13,3|47,7|0,7255|
|10/03/2004|20.00.00|   2,2|       1402|      88|     9,0|          939|    131|        1140|    114|        1555|       1074|11,9|54,0|0,7502|
|10/03/2004|21.00.00|   2,2|       1376|      80|     9,2|          948|    172|        1092|    122|        1584|       1203|11,0|60,0|0,7867|
|10/03/2004|22.00.00|   1,6|       1272|      51|     6,5|          836|    131|        1205|    116|        1490|       1110|11,2|59,6|0,7888|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
only showing top 5 rows

In [70]:
from pyspark.sql.functions import regexp_replace, col

df = df.withColumn("T", regexp_replace(col("T"), r"[^0-9.]", "").cast("double"))
df = df.withColumn("T", col("T") / 10)

df.show(5)
df.printSchema()
df.select("T").show(20)

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T|  RH|    AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|10/03/2004|18.00.00|   2,6|       1360|     150|    11,9|         1046|    166|        1056|    113|        1692|       1268|13.6|48,9|0,7578|
|10/03/2004|19.00.00|     2|       1292|     112|     9,4|          955|    103|        1174|     92|        1559|        972|13.3|47,7|0,7255|
|10/03/2004|20.00.00|   2,2|       1402|      88|     9,0|          939|    131|        1140|    114|        1555|       1074|11.9|54,0|0,7502|
|10/03/2004|21.00.00|   2,2|       1376|      80|     9,2|          948|    172|        1092|    122|        1584|       1203|11.0|60,0|0,7867|
|10/03/2004|22.00.00|   1,6|       1272|      51|     6,5|          836|    131|        1205|    116|        1490|       1110|11.2|59,6|0,7888|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
only showing top 5 rows

root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- CO(GT): string (nullable = true)
 |-- PT08.S1(CO): string (nullable = true)
 |-- NMHC(GT): string (nullable = true)
 |-- C6H6(GT): string (nullable = true)
 |-- PT08.S2(NMHC): string (nullable = true)
 |-- NOx(GT): string (nullable = true)
 |-- PT08.S3(NOx): string (nullable = true)
 |-- NO2(GT): string (nullable = true)
 |-- PT08.S4(NO2): string (nullable = true)
 |-- PT08.S5(O3): string (nullable = true)
 |-- T: double (nullable = true)
 |-- RH: string (nullable = true)
 |-- AH: string (nullable = true)

+----+
|   T|
+----+
|13.6|
|13.3|
|11.9|
|11.0|
|11.2|
|11.2|
|11.3|
|10.7|
|10.7|
|10.3|
|10.1|
|11.0|
|10.5|
|10.2|
|10.8|
|10.5|
|10.8|
|10.5|
| 9.5|
| 8.3|
+----+
only showing top 20 rows

# CRIANDO A TABELA ICEBERG

In [71]:
df.write.format("iceberg").mode("overwrite").saveAsTable("local.sample_data")

In [72]:
spark.sql("SELECT * FROM local.sample_data").show()

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T|  RH|    AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|10/03/2004|18.00.00|   2,6|       1360|     150|    11,9|         1046|    166|        1056|    113|        1692|       1268|13.6|48,9|0,7578|
|10/03/2004|19.00.00|     2|       1292|     112|     9,4|          955|    103|        1174|     92|        1559|        972|13.3|47,7|0,7255|
|10/03/2004|20.00.00|   2,2|       1402|      88|     9,0|          939|    131|        1140|    114|        1555|       1074|11.9|54,0|0,7502|
|10/03/2004|21.00.00|   2,2|       1376|      80|     9,2|          948|    172|        1092|    122|        1584|       1203|11.0|60,0|0,7867|
|10/03/2004|22.00.00|   1,6|       1272|      51|     6,5|          836|    131|        1205|    116|        1490|       1110|11.2|59,6|0,7888|
|10/03/2004|23.00.00|   1,2|       1197|      38|     4,7|          750|     89|        1337|     96|        1393|        949|11.2|59,2|0,7848|
|11/03/2004|00.00.00|   1,2|       1185|      31|     3,6|          690|     62|        1462|     77|        1333|        733|11.3|56,8|0,7603|
|11/03/2004|01.00.00|     1|       1136|      31|     3,3|          672|     62|        1453|     76|        1333|        730|10.7|60,0|0,7702|
|11/03/2004|02.00.00|   0,9|       1094|      24|     2,3|          609|     45|        1579|     60|        1276|        620|10.7|59,7|0,7648|
|11/03/2004|03.00.00|   0,6|       1010|      19|     1,7|          561|   -200|        1705|   -200|        1235|        501|10.3|60,2|0,7517|
|11/03/2004|04.00.00|  -200|       1011|      14|     1,3|          527|     21|        1818|     34|        1197|        445|10.1|60,5|0,7465|
|11/03/2004|05.00.00|   0,7|       1066|       8|     1,1|          512|     16|        1918|     28|        1182|        422|11.0|56,2|0,7366|
|11/03/2004|06.00.00|   0,7|       1052|      16|     1,6|          553|     34|        1738|     48|        1221|        472|10.5|58,1|0,7353|
|11/03/2004|07.00.00|   1,1|       1144|      29|     3,2|          667|     98|        1490|     82|        1339|        730|10.2|59,6|0,7417|
|11/03/2004|08.00.00|     2|       1333|      64|     8,0|          900|    174|        1136|    112|        1517|       1102|10.8|57,4|0,7408|
|11/03/2004|09.00.00|   2,2|       1351|      87|     9,5|          960|    129|        1079|    101|        1583|       1028|10.5|60,6|0,7691|
|11/03/2004|10.00.00|   1,7|       1233|      77|     6,3|          827|    112|        1218|     98|        1446|        860|10.8|58,4|0,7552|
|11/03/2004|11.00.00|   1,5|       1179|      43|     5,0|          762|     95|        1328|     92|        1362|        671|10.5|57,9|0,7352|
|11/03/2004|12.00.00|   1,6|       1236|      61|     5,2|          774|    104|        1301|     95|        1401|        664| 9.5|66,8|0,7951|
|11/03/2004|13.00.00|   1,9|       1286|      63|     7,3|          869|    146|        1162|    112|        1537|        799| 8.3|76,4|0,8393|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
only showing top 20 rows

In [73]:
spark.sql("SELECT * FROM local.sample_data WHERE T > 10").show()

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T|  RH|    AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
|10/03/2004|18.00.00|   2,6|       1360|     150|    11,9|         1046|    166|        1056|    113|        1692|       1268|13.6|48,9|0,7578|
|10/03/2004|19.00.00|     2|       1292|     112|     9,4|          955|    103|        1174|     92|        1559|        972|13.3|47,7|0,7255|
|10/03/2004|20.00.00|   2,2|       1402|      88|     9,0|          939|    131|        1140|    114|        1555|       1074|11.9|54,0|0,7502|
|10/03/2004|21.00.00|   2,2|       1376|      80|     9,2|          948|    172|        1092|    122|        1584|       1203|11.0|60,0|0,7867|
|10/03/2004|22.00.00|   1,6|       1272|      51|     6,5|          836|    131|        1205|    116|        1490|       1110|11.2|59,6|0,7888|
|10/03/2004|23.00.00|   1,2|       1197|      38|     4,7|          750|     89|        1337|     96|        1393|        949|11.2|59,2|0,7848|
|11/03/2004|00.00.00|   1,2|       1185|      31|     3,6|          690|     62|        1462|     77|        1333|        733|11.3|56,8|0,7603|
|11/03/2004|01.00.00|     1|       1136|      31|     3,3|          672|     62|        1453|     76|        1333|        730|10.7|60,0|0,7702|
|11/03/2004|02.00.00|   0,9|       1094|      24|     2,3|          609|     45|        1579|     60|        1276|        620|10.7|59,7|0,7648|
|11/03/2004|03.00.00|   0,6|       1010|      19|     1,7|          561|   -200|        1705|   -200|        1235|        501|10.3|60,2|0,7517|
|11/03/2004|04.00.00|  -200|       1011|      14|     1,3|          527|     21|        1818|     34|        1197|        445|10.1|60,5|0,7465|
|11/03/2004|05.00.00|   0,7|       1066|       8|     1,1|          512|     16|        1918|     28|        1182|        422|11.0|56,2|0,7366|
|11/03/2004|06.00.00|   0,7|       1052|      16|     1,6|          553|     34|        1738|     48|        1221|        472|10.5|58,1|0,7353|
|11/03/2004|07.00.00|   1,1|       1144|      29|     3,2|          667|     98|        1490|     82|        1339|        730|10.2|59,6|0,7417|
|11/03/2004|08.00.00|     2|       1333|      64|     8,0|          900|    174|        1136|    112|        1517|       1102|10.8|57,4|0,7408|
|11/03/2004|09.00.00|   2,2|       1351|      87|     9,5|          960|    129|        1079|    101|        1583|       1028|10.5|60,6|0,7691|
|11/03/2004|10.00.00|   1,7|       1233|      77|     6,3|          827|    112|        1218|     98|        1446|        860|10.8|58,4|0,7552|
|11/03/2004|11.00.00|   1,5|       1179|      43|     5,0|          762|     95|        1328|     92|        1362|        671|10.5|57,9|0,7352|
|11/03/2004|18.00.00|   4,8|       1581|     307|    20,8|         1319|    281|         799|    151|        2083|       1409|10.3|64,2|0,8065|
|12/03/2004|10.00.00|   3,1|       1350|     208|    14,0|         1118|    187|         912|    122|        1712|       1237|13.2|41,7|0,6320|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+----+------+
only showing top 20 rows

# INSERT

In [83]:
spark.sql("""
INSERT INTO local.sample_data
VALUES (
    '15/03/2020',  -- Date
    '14.00.00',    -- Time
    '1.2',         -- CO(GT)
    '1300',        -- PT08.S1(CO)
    '50',          -- NMHC(GT)
    '0.3',         -- C6H6(GT)
    '1100',        -- PT08.S2(NMHC)
    '80',          -- NOx(GT)
    '1000',        -- PT08.S3(NOx)
    '40',          -- NO2(GT)
    '1500',        -- PT08.S4(NO2)
    '1200',        -- PT08.S5(O3)
    25.5,          -- T
    '45',          -- RH
    '0.8'          -- AH
)
""")

DataFrame[]

In [84]:
spark.sql("SELECT * from local.sample_data WHERE date = '15/03/2020'").show()

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T| RH| AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+
|15/03/2020|14.00.00|   1.2|       1300|      50|     0.3|         1100|     80|        1000|     40|        1500|       1200|25.5| 45|0.8|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+

# UPDATE

In [85]:
spark.sql("""
UPDATE local.sample_data
SET T = T + 1.0
WHERE Date = '15/03/2020'
""")

DataFrame[]

In [86]:
spark.sql("SELECT * from local.sample_data WHERE date = '15/03/2020'").show()

+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+
|      Date|    Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|   T| RH| AH|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+
|15/03/2020|14.00.00|   1.2|       1300|      50|     0.3|         1100|     80|        1000|     40|        1500|       1200|26.5| 45|0.8|
+----------+--------+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+----+---+---+

# DELETE

In [87]:
spark.sql("""
DELETE FROM local.sample_data
WHERE Date = '15/03/2020' 
""")

DataFrame[]

In [89]:
spark.sql("SELECT * from local.sample_data WHERE date = '15/03/2020'").show()

+----+----+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+---+---+---+
|Date|Time|CO(GT)|PT08.S1(CO)|NMHC(GT)|C6H6(GT)|PT08.S2(NMHC)|NOx(GT)|PT08.S3(NOx)|NO2(GT)|PT08.S4(NO2)|PT08.S5(O3)|  T| RH| AH|
+----+----+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+---+---+---+
+----+----+------+-----------+--------+--------+-------------+-------+------------+-------+------------+-----------+---+---+---+